/*general*/

html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body{
	height: 100%;
	width: 100%;
	padding: 0;
	background: #EEE;
	font: 18px Georgia, Times, "Times New Roman", Serif;
}

#main-content{
	width: 500px;
	margin: 0 auto; padding: 20px 0;
}

h1{
	font: 30px Arial, "Helvetica Neue", Helvetica, Sans-Serif;
}

/*menu page*/

ul#measurement-types{
	list-style-type: none;
	margin: 1em 0;
	padding: 0;
}

ul#measurement-types li{
	height: auto;
	margin: 0 0 10px 0;
	padding: 0;
}

ul#measurement-types li a{
	text-decoration: none;
	color: black;
	display: block;
	background: white;
	padding: 16px 24px;
	width: 180px;
	border: 1px solid black;
}

ul#measurement-types li a:hover{
	color: white;
	background: #FDB912;
}

